<ion-grid class="entering_form">
    <ion-row>
        <ion-col>
            <h1>Sign Up</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <p>
                    Thank you for signing up, you will shortly receive
                    an email so that you can verify your email address,
                    but you can sign in now using your username and password.
                </p>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row form_buttons>
        <ion-col>
            <ion-button routerLink="/visitor/signin" expand="block" color="light">Sign In</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
