<ion-grid class="entering_form">
    <ion-row>
        <ion-col>
            <h1>Forget Password</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <p>
                    Thank you, you will shortly receive
                    an email with instructions to reset your password,
                </p>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row form_buttons>
        <ion-col>
            <ion-button routerLink="/visitor/signin" expand="block" color="light">Sign In</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
