.body {
  margin: 0;
  padding: 0;
}

.board {
  border: black 1px dashed;
  width: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
