<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Speako</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [color]="title==='Playground'?'medium':''" button routerLink="/member/playground" (click)="menuCtl.close()">
        <ion-icon name="barcode-outline" slot="start"></ion-icon>
        <ion-label>Playground</ion-label>
      </ion-item>
      <ion-item [color]="title==='My Library'?'medium':''" button routerLink="/member/library" (click)="menuCtl.close()">
        <ion-icon name="list-outline" slot="start"></ion-icon>
        <ion-label>My Library</ion-label>
      </ion-item>
      <ion-item [color]="title==='My Profile'?'medium':''" button routerLink="/member/profile" (click)="menuCtl.close()">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>My Profile</ion-label>
      </ion-item>
      <ion-item [color]="title==='Billing Settings'?'medium':''" button routerLink="/member/billing" (click)="menuCtl.close()">
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>Billing Settings</ion-label>
      </ion-item>
      <ion-item button (click)="signOut()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Sign Out</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button routerLink="/checkout" fill="solid">
          Recharge
        </ion-button>
      </ion-buttons>
      <ion-title>{{title}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</div>
