<ion-grid class="entering_form">
    <ion-row>
        <ion-col>
            <h1>Confirm Checkout</h1>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <ion-item lines="none">
                <p>
                    Thank you for checkout, you will shortly receive
                    an email so that you can start to use your purchased balance.
                </p>
            </ion-item>
        </ion-col>
    </ion-row>
    <ion-row form_buttons>
        <ion-col>
            <ion-button routerLink="/member/playground" expand="block">Finish</ion-button>
        </ion-col>
    </ion-row>
</ion-grid>
